*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sidebar-div {
    position: fixed;
    z-index: 3;
    height: 100vh;
    background-color: rgb(0, 21, 20);
    color: white;
    width: 20vw;
}

.header {
    position: absolute;
    z-index: 2;
    background-color: rgb(107, 5, 4);
    color: white;
    left: 20vw;
    width: 80vw;
    height: 15vh;
}

.content {
    position: relative;
    height: 85vh;
    width: 80vw;
    background-color: rgb(199, 199, 199);
    color: white;
    left: 20vw;
    top: 15vh;
    display: grid;
    grid-template-areas: 
    "card card card card update"
    "card card card card recent";
}

.card-div {
    position: relative;
    grid-area: card;
    border: 2px dashed white;
    width: 100%;
}

.card-title {
    border: 2px solid white;
    margin: 8px;
    height: 2rem;
}

.cards {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    height: 90%;
}

.card {
    border: 1px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    color: rgb(0, 21, 20);
    margin: 12px;
    border-radius: 8px;
}

.update-div {
    position: relative;
    border: white;
    grid-area: update;
    /* border: 1px solid red; */
}

.update-title {
    border: 2px solid white;
    margin: 12px;
    height: 2rem;
}

.updates {
    position: absolute;
    padding: 8px;
    background-color: rgb(245, 245, 245);
    color: black;
    margin: 12px;
    border-radius: 8px;
    justify-content: center;
}

.update-name {
    font-weight: 800;
    font-size: medium;
}

.updates p {
    font-size: small;
}

.updates hr {
    margin: 0px 10%;
    border: 1px solid lightgray;
}

.recent-div {
    border: white;
    grid-area: recent;
}

.recent-title {
    border: 2px solid white;
    margin: 12px;
    height: 2rem;
}

.recent-box {
    position: relative;
    padding: 8px;
    background-color: rgb(245, 245, 245);
    color: black;
    margin: 12px;
    height: 70%;
    border-radius: 8px;
}

.recent-post {
    display: grid;
    grid-auto-flow: column;
    height: 20%;
    margin: 5% 0%;
}

/* secondary colors: 
232, 135, 30 Fulvous
39, 93, 173 Denim