*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.content {
    height: 100vh;
    width: 100vw;
    background-color:darkblue;
    color: white;
    left: 20vw;
}

.sidebar-div {
    height: 100vh;
    background-color: darkgoldenrod;
    width: 20vw;
    position: absolute;
}

.header {
    background-color: darkgray;
    color: black;
    left: 20vw;
    position: absolute;
    width: 80vw;
    height: 15vh;
}