*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sidebar-div {
    position: fixed;
    z-index: 3;
    height: 100vh;
    background-color: darkgoldenrod;
    width: 20vw;
}

.header {
    position: absolute;
    z-index: 2;
    background-color: darkgray;
    color: black;
    left: 20vw;
    width: 80vw;
    height: 15vh;
}

.content {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color:darkblue;
    display: grid;
    color: white;
    left: 20vw;
    top: 15vh;
}

.card-div {
    border: white;
}

.update-div {
    border: white;
}

.recent-div {
    border: white;
}