*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content {
    position: relative;
    height: 85vh;
    width: 80vw;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 21, 20);
    left: 20vw;
    top: 15vh;
    display: grid;
    grid-template-areas: 
    "card card update"
    "card card recent";
    grid-template-columns: 1fr 1fr 1fr;
}
h1, h2, h3 {
    font-size: 1rem;
}

.card-div {
    grid-area: card;
    position: relative;
    /* border: 2px dashed white; */
    min-width: 0;
}

.card-div-title {
    position: relative;
    /* border: 2px solid white; */
    height: 2rem;
    top: 1rem;
    font-weight: 500;
    padding-left: 1rem;
}

.cards {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    height: 90%;
}

.card {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    background-color: rgb(251, 247, 244);
    color: rgb(0, 21, 20);
    border-left: .5rem solid #e8871e;
    margin: 12px;
    border-radius: 8px;
    text-align: left;
    padding: 5%;
    box-shadow: 3px 3px 12px -4px rgb(0, 21, 20);
}

.card-title {
    color: rgb(0, 21, 20);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 18px;
}

/* .card p {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
} */

.update-div {
    grid-area: update;
    position: relative;
    /* border: 2px dashed white; */
    min-width: 0;
    max-width: 100%;
    max-height: 100%;
    left: 0px;
    margin: 0px;
}

.update-title {
    position: relative;
    /* border: 2px solid white; */
    height: 2rem;
    top: 1rem;
    font-weight: 500;
    padding-left: 1rem;
}

.updates {
    position: absolute;
    padding: 8px;
    background-color: rgb(251, 247, 244);
    color: black;
    margin: 12px;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 3px 3px 12px -4px rgb(0, 21, 20);
}

.update-name {
    font-weight: 800;
    font-size: medium;
}

.updates p {
    font-size: small;
}

.updates hr {
    margin: 0px 10%;
    border: 1px solid lightgray;
}

.recent-div {
    grid-area: recent;
    border: white;
    /* border: 2px dashed white; */
    min-width: 0;
    min-height: 0;
    max-height: 100%;
}

.recent-title {
    position: relative;
    /* border: 2px solid white; */
    height: 2rem;
    top: 1rem;
    font-weight: 500;
    padding-left: 1rem;
}

.recent-box {
    position: relative;
    padding: 8px;
    background-color: rgb(251, 247, 244);
    color: black;
    margin: 12px;
    height: 70%;
    border-radius: 8px;
    box-shadow: 3px 3px 12px -4px rgb(0, 21, 20);
}

.recent-post {
    display: grid;
    grid-auto-flow: column;
    height: 20%;
    margin: 5% 0%;
}

/* secondary colors: 
232, 135, 30 Fulvous
39, 93, 173 Denim