.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    z-index: 2;
    background-color: rgb(145, 77, 118);
    color: white;
    left: 20vw;
    width: 80vw;
    height: 15vh;
    box-shadow: 0 0px 6px 0px rgb(0, 21, 20);
}

.header-top {
    display: grid;
    grid-template-columns: 75% 1fr;
}

.header-top-left {
    padding: 1rem;
}

.header-top-right {
    position: absolute;
    right: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.header-bottom-left {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.header-bottom-right {
    position: absolute;
    display: flex;
    gap: 2rem;
    right: 2rem;
}