.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    z-index: 2;
    background-color: rgb(145, 77, 118);
    color: white;
    left: 20vw;
    width: 80vw;
    height: 15vh;
    box-shadow: 0 0px 6px 0px rgb(0, 21, 20);
}

.header-top {
    display: grid;
    grid-template-columns: 75% 1fr;
}

.header-top-left {
    padding: 1rem;
}

input {
    height: 1.5rem;
    border: 1px solid rgb(0, 21, 20);
    border-radius: 1.5rem 0px 0px 1.5rem;
    padding-left: .5rem;
    margin: 0px;
}

.header-top-left button {
    position: absolute;
    height: 1.5rem;
    border: 1px solid rgb(0, 21, 20);
    border-radius: 0px 1.5rem 1.5rem 0px;
    width: 2rem;
}

.header-top-left button img {
    position: absolute;
    height: 1.2rem;
    left: .2rem;
    top: .1rem;
}

.header-top-right {
    position: absolute;
    right: 2rem;
    padding: 1rem;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    color: rgb(251, 247, 244);
}

.header-top-right button {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px 2rem;
    border: none;
}

.header-top-right button img {
    position: relative;
    height: 100%;
    left: -.55rem;
}

.header-top-right button:hover {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
}

.header-top-right img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    margin: 0px 1rem;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.header-bottom-left {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.header-bottom-right {
    position: absolute;
    display: flex;
    gap: 2rem;
    right: 2rem;
}